

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html{
   background-color: aqua;
   padding-left: 0%;
   color: brown;
   padding-right: 0%;
   margin: 20;
}














